.main-chat-wrapper{
    display: flex;
    height: calc(100vh - 70px);
}

.chat-menu{
    flex: 3.5;
    opacity: 90%;
    background-color: rgb(251, 154, 51);
}

.chat-menu-search{
    width: 90%;
    padding: 10px 0;
    border: 1px solid black;
}

.chat-box{
    flex: 5.5;
    background-color: #cccfcd;
}

.chat-box-wrapper{
    display: flex;
    flex-direction: column;

}

.chat-box-top{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chat-box-bottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.chat-message-input{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chat-submit-button{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.chat-menu-wrapper,.chat-box-wrapper,.online-wrapper{
    padding: 10px;
    height: 100%;
}