.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-top{
    display: flex;
}

.message-image{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.message-text{
    padding: 10px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    max-width: 300;
}

.message-bottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .message-text{
    background-color: gray;
    color: white;
}