.nav-container{
    height: 70px;
    display: flex;
    background-color: #ff9626;
    padding-left: 10px;
    padding-top: 2px;
    max-width: 100%;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.button{
    margin: 10px;
    justify-content: right;
}

.username{
    margin: 10px;
}
