// SCSS is only used for login and register page because they have the same styling. This controls all the styling for both pages. It controls all of the forms and their containers, font size and colours, as well as link behaviour and styling. The padding, margin and box sizing is reset for the whole page, which is better for responsiveness. Flex is used in everything to make sure the elements are responsive, and all colours and behaviour is set for the elements and their descendents (a benefit of SCSS, being able to embed descendent elements like this!).

// Colour Variables

$color-orange: #ff9626;
$color-grey: #333332;
$color-black: #03071e;
$color-white: #ffffff;
$color-lightgrey: #cccfcd;

// font import

@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.form-cont {
  background-color: $color-grey;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .form-wrap {
    background-color: $color-orange;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    font-family: "Poor Story", cursive;

    .greeting {
      font-size: small;
      font-family: "Poor Story", cursive;
    }

    .brand {
      color: $color-white;
      background-color: $color-black;
      color: white;
      font-weight: bold;
      font-size: 26px;
      padding: 10px 60px;
      border-radius: 5%;
      align-items: center;
      font-family: "Poor Story", cursive;
      a{
        color: white;
        text-decoration: none;
      }
      a:visited{
        color: $color-white
      }
    }
    

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 5px;
        border: 2px solid $color-black;
        width: 220px;
        background-color: $color-grey;
        font-family: "Poor Story", cursive;
        color: $color-white;
        &::placeholder {
          color: $color-lightgrey;
        }
      }

      button {
        cursor: pointer;
        background-color: $color-black;
        color: $color-white;
        padding: 10px;
        border: none;
        font-weight: bold;
        border-bottom: 3px solid $color-grey;
        border-right: 3px solid $color-grey;
        font-family: "Poor Story", cursive;
        justify-content: center;
      }

      label{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: small;
        cursor: pointer;
        justify-content: center;

        img{
            width: 32px;
        }
      }
    }

    p {
      font-size: small;
      padding: 10px;

      a{
        text-decoration: none;
        &:visited{
            color: $color-black;
        }
      }
    }
  }
}
